<settings>
  <category label="Extras">
    <setting id="extrasDirName" type="text" label="Extras Directory Name." default="Extras"/>
    <setting id="searchNested" type="bool" label="Search Nested Directories." default="true"/>
    <setting id="extrasFileTag" type="text" label="Extras File Name Tag." default="-extras-"/>
    <setting id="extrasReturn" type="labelenum" label="Menu to show after playing an extra." values="Video Selection|Information|Extras|Home" default="Video Selection" />
    <setting id="excludeFiles" type="text" label="Exclude Files Regular Expression." default="([A-Za-z0-9]*.(jpg|idx|srt|nfo|sub|db|txt))"/>
  </category>
  <category label="Advanced">
    <setting id="logEnabled" type="bool" label="Turn on logging." default="false"/>
  </category>
</settings>
